=begin
#Recurring Payments Merchant API

## Recurring payments Recurring payments is used for subscription payments such as weekly dues for newspaper access, monthly dues for public transportation, etc. 1. A draft agreement is initialized and the user is redirected for approval. 2. The user approves the agreement and the merchant can call GET on the agreement to verify the status. 3. The merchant can start sending charges which will be charged the user in the future. The merchant is responsible for checking the status of charges, and cancelling any user access if charges are failing (or contacting the user). ## Authentication See <a href=\"#/Access%20Controller/getAccessToken\" target=\"_blank\">Get Access Token</a> For information regarding authentication please read [our guide](https://github.com/vippsas/vipps-recurring-api/blob/master/vipps-recurring-api.md#authentication-and-authorization---api-access-token)

The version of the OpenAPI document: 2.1.4

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.1-SNAPSHOT

=end

require 'cgi'

module VippsRecurring
  class AgreementControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new Agreement, to be confirmed in Vipps
    # @param agreement_request [AgreementRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key
    # @option opts [String] :vipps_system_name The name of the ecommerce solution. One word in lowercase letters is good.
    # @option opts [String] :vipps_system_version The version number of the ecommerce solution.
    # @option opts [String] :vipps_system_plugin_name The name of the ecommerce plugin (if applicable). One word in lowercase letters is good.
    # @option opts [String] :vipps_system_plugin_version The version number of the ecommerce plugin (if applicable).
    # @return [AgreementReference]
    def draft_agreement(agreement_request, opts = {})
      data, _status_code, _headers = draft_agreement_with_http_info(agreement_request, opts)
      data
    end

    # Create a new Agreement, to be confirmed in Vipps
    # @param agreement_request [AgreementRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Idempotency key
    # @option opts [String] :vipps_system_name The name of the ecommerce solution. One word in lowercase letters is good.
    # @option opts [String] :vipps_system_version The version number of the ecommerce solution.
    # @option opts [String] :vipps_system_plugin_name The name of the ecommerce plugin (if applicable). One word in lowercase letters is good.
    # @option opts [String] :vipps_system_plugin_version The version number of the ecommerce plugin (if applicable).
    # @return [Array<(AgreementReference, Integer, Hash)>] AgreementReference data, response status code and response headers
    def draft_agreement_with_http_info(agreement_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementControllerApi.draft_agreement ...'
      end
      # verify the required parameter 'agreement_request' is set
      if @api_client.config.client_side_validation && agreement_request.nil?
        fail ArgumentError, "Missing the required parameter 'agreement_request' when calling AgreementControllerApi.draft_agreement"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 40
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling AgreementControllerApi.draft_agreement, the character length must be smaller than or equal to 40.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]*$/)
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"idempotency_key\"]' when calling AgreementControllerApi.draft_agreement, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v2/agreements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      header_params[:'Vipps-System-Name'] = opts[:'vipps_system_name'] if !opts[:'vipps_system_name'].nil?
      header_params[:'Vipps-System-Version'] = opts[:'vipps_system_version'] if !opts[:'vipps_system_version'].nil?
      header_params[:'Vipps-System-Plugin-Name'] = opts[:'vipps_system_plugin_name'] if !opts[:'vipps_system_plugin_name'].nil?
      header_params[:'Vipps-System-Plugin-Version'] = opts[:'vipps_system_plugin_version'] if !opts[:'vipps_system_plugin_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agreement_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgreementReference'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'ocpSubscriptionKey']

      new_options = opts.merge(
        :operation => :"AgreementControllerApi.draft_agreement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementControllerApi#draft_agreement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch an Agreement
    # @param agreement_id [String] The agreement identifier (id)
    # @param [Hash] opts the optional parameters
    # @return [Agreement]
    def get_agreement(agreement_id, opts = {})
      data, _status_code, _headers = get_agreement_with_http_info(agreement_id, opts)
      data
    end

    # Fetch an Agreement
    # @param agreement_id [String] The agreement identifier (id)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Agreement, Integer, Hash)>] Agreement data, response status code and response headers
    def get_agreement_with_http_info(agreement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementControllerApi.get_agreement ...'
      end
      # verify the required parameter 'agreement_id' is set
      if @api_client.config.client_side_validation && agreement_id.nil?
        fail ArgumentError, "Missing the required parameter 'agreement_id' when calling AgreementControllerApi.get_agreement"
      end
      # resource path
      local_var_path = '/v2/agreements/{agreementId}'.sub('{' + 'agreementId' + '}', CGI.escape(agreement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Agreement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'ocpSubscriptionKey']

      new_options = opts.merge(
        :operation => :"AgreementControllerApi.get_agreement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementControllerApi#get_agreement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Agreements
    # @param [Hash] opts the optional parameters
    # @option opts [AgreementStatus] :status Filter by status
    # @option opts [String] :vipps_system_name The name of the ecommerce solution. One word in lowercase letters is good.
    # @option opts [String] :vipps_system_version The version number of the ecommerce solution.
    # @option opts [String] :vipps_system_plugin_name The name of the ecommerce plugin (if applicable). One word in lowercase letters is good.
    # @option opts [String] :vipps_system_plugin_version The version number of the ecommerce plugin (if applicable).
    # @return [Array<Agreement>]
    def list_agreements(opts = {})
      data, _status_code, _headers = list_agreements_with_http_info(opts)
      data
    end

    # List Agreements
    # @param [Hash] opts the optional parameters
    # @option opts [AgreementStatus] :status Filter by status
    # @option opts [String] :vipps_system_name The name of the ecommerce solution. One word in lowercase letters is good.
    # @option opts [String] :vipps_system_version The version number of the ecommerce solution.
    # @option opts [String] :vipps_system_plugin_name The name of the ecommerce plugin (if applicable). One word in lowercase letters is good.
    # @option opts [String] :vipps_system_plugin_version The version number of the ecommerce plugin (if applicable).
    # @return [Array<(Array<Agreement>, Integer, Hash)>] Array<Agreement> data, response status code and response headers
    def list_agreements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementControllerApi.list_agreements ...'
      end
      # resource path
      local_var_path = '/v2/agreements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      header_params[:'Vipps-System-Name'] = opts[:'vipps_system_name'] if !opts[:'vipps_system_name'].nil?
      header_params[:'Vipps-System-Version'] = opts[:'vipps_system_version'] if !opts[:'vipps_system_version'].nil?
      header_params[:'Vipps-System-Plugin-Name'] = opts[:'vipps_system_plugin_name'] if !opts[:'vipps_system_plugin_name'].nil?
      header_params[:'Vipps-System-Plugin-Version'] = opts[:'vipps_system_plugin_version'] if !opts[:'vipps_system_plugin_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Agreement>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'ocpSubscriptionKey']

      new_options = opts.merge(
        :operation => :"AgreementControllerApi.list_agreements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementControllerApi#list_agreements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an Agreement
    # @param idempotency_key [String] Idempotency key
    # @param agreement_id [String] The agreement identifier (id)
    # @param agreement_update [AgreementUpdate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vipps_system_name The name of the ecommerce solution. One word in lowercase letters is good.
    # @option opts [String] :vipps_system_version The version number of the ecommerce solution.
    # @option opts [String] :vipps_system_plugin_name The name of the ecommerce plugin (if applicable). One word in lowercase letters is good.
    # @option opts [String] :vipps_system_plugin_version The version number of the ecommerce plugin (if applicable).
    # @return [AgreementUpdateReference]
    def update_agreement(idempotency_key, agreement_id, agreement_update, opts = {})
      data, _status_code, _headers = update_agreement_with_http_info(idempotency_key, agreement_id, agreement_update, opts)
      data
    end

    # Update an Agreement
    # @param idempotency_key [String] Idempotency key
    # @param agreement_id [String] The agreement identifier (id)
    # @param agreement_update [AgreementUpdate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vipps_system_name The name of the ecommerce solution. One word in lowercase letters is good.
    # @option opts [String] :vipps_system_version The version number of the ecommerce solution.
    # @option opts [String] :vipps_system_plugin_name The name of the ecommerce plugin (if applicable). One word in lowercase letters is good.
    # @option opts [String] :vipps_system_plugin_version The version number of the ecommerce plugin (if applicable).
    # @return [Array<(AgreementUpdateReference, Integer, Hash)>] AgreementUpdateReference data, response status code and response headers
    def update_agreement_with_http_info(idempotency_key, agreement_id, agreement_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementControllerApi.update_agreement ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling AgreementControllerApi.update_agreement"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 40
        fail ArgumentError, 'invalid value for "idempotency_key" when calling AgreementControllerApi.update_agreement, the character length must be smaller than or equal to 40.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]*$/)
      if @api_client.config.client_side_validation && idempotency_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotency_key' when calling AgreementControllerApi.update_agreement, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agreement_id' is set
      if @api_client.config.client_side_validation && agreement_id.nil?
        fail ArgumentError, "Missing the required parameter 'agreement_id' when calling AgreementControllerApi.update_agreement"
      end
      # verify the required parameter 'agreement_update' is set
      if @api_client.config.client_side_validation && agreement_update.nil?
        fail ArgumentError, "Missing the required parameter 'agreement_update' when calling AgreementControllerApi.update_agreement"
      end
      # resource path
      local_var_path = '/v2/agreements/{agreementId}'.sub('{' + 'agreementId' + '}', CGI.escape(agreement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Idempotency-Key'] = idempotency_key
      header_params[:'Vipps-System-Name'] = opts[:'vipps_system_name'] if !opts[:'vipps_system_name'].nil?
      header_params[:'Vipps-System-Version'] = opts[:'vipps_system_version'] if !opts[:'vipps_system_version'].nil?
      header_params[:'Vipps-System-Plugin-Name'] = opts[:'vipps_system_plugin_name'] if !opts[:'vipps_system_plugin_name'].nil?
      header_params[:'Vipps-System-Plugin-Version'] = opts[:'vipps_system_plugin_version'] if !opts[:'vipps_system_plugin_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agreement_update)

      # return_type
      return_type = opts[:debug_return_type] || 'AgreementUpdateReference'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'ocpSubscriptionKey']

      new_options = opts.merge(
        :operation => :"AgreementControllerApi.update_agreement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementControllerApi#update_agreement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
